<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Site</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    {{> header}}
  </header>
  {{{body}}}
  <footer>
    {{> footer}}
  </footer>
  <script src="/js/login.js"></script>
  <script src="/js/signup.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/dashboard.js"></script>
</body>
</html>